var config = {};

config.email = '';
config.password = '';

config.host = 'api.glovoapp.com';
config.apiPath = '/';
config.apiPathV3 = '/v3/';
config.port = 443;

config.dataDir = 'data/';
config.tokenFile = 'token.txt';

module.exports = config;
